* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: rgb(24, 24, 24);
    font-size: 16px;
}

@font-face {
    font-family: icons;
    src: url('../fontello-6bcc2a8f/font/navbaricons.woff2'),
    url('../fontello-6bcc2a8f/font/navbaricons.woff'),
    url('../fontello-6bcc2a8f/font/navbaricons.ttf');
}

@font-face {
    font-family: social;
    src: url('../fontello-icon_social/font/social_icons.woff2'),
    url('../fontello-icon_social/font/social_icons.woff'),
    url('../fontello-icon_social/font/social_icons.ttf');
}

nav {
    background-color: rgb(24, 24, 24);
    font-size: 1vw;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 3;
    
    ul#main-nav {
        width: 80%;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 20px 0;
        color: white;
        align-items: center;
        
        a {
            width: 20%;
            margin: 20px 20px 0 0;
            
            img {
                width: 100%;
                margin: 0 auto;
                cursor: pointer;
            }
        }
        
        li {
            padding: 10px;
            margin-right: 1%;
            cursor: pointer;
            &:hover {
                color: gray;
            }
        }
    }
    
    ul#user-options {
        width: 20%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        color: white;
        
        >li {
            margin: 5%;
            cursor: pointer;
        }
        
        >li:nth-child(1) {
            &:hover{
                color: rgb(247, 52, 52);
            }
            &:before {
                font-family: icons;
                content: "\0061";
            }
        }
        
        >li:nth-child(2) {
            &:hover {
                color: gray;
            }
        }
        
        >li:nth-child(3) {
            &:before {
                font-family: icons;
                content: "\0062";
            }&:hover {
                color: rgb(247, 205, 52);
            }
        }
        
        >li:nth-child(4) {
            img {
                margin-top: 10px;
                width: 50%;
                height: auto;
            }
        }
    }
}

main {
    margin-top: 10vh;
    padding: 20px;
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    color: white;
    div {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
        p {
            width: 100%;
            font-size: 1.8vw;
            font-weight: bold;
            margin-left: 10px;
            margin-bottom: 15px;
            color: white;
        }
    }
    
    img {
        width: 19%;
        height: auto;
        margin: 0;
        box-shadow: 8px 8px 8px black;
        cursor: pointer;
    }
}

.cerca-container {
    position: absolute;
    top: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    width: 20%;
    min-height: 30px;
    overflow-y: auto;
    max-height: 500px;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: rgb(195, 195, 195);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 5px;
        
        &:hover {
            background: red;
        }
    }
    input{
        font-size: 1vw;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: white;
        color: black;
    }
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 5px;

        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: black;
            width: 100%;
            padding: 8px 10px;
            margin: 0;
            cursor: pointer;
            &:hover{
                background-color: #ff4343;
            }
            img{
                width: 100%;
                margin: 10px 0;
                border-radius: 5px;
            }
        }
    }
}

.position{
    position: relative;
    display: inline-block;
}

.sinossiBreve{
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 10px;
    width: 150%;
    padding: 10px;
    
    img{
        width: 100%;
        height: auto;
        cursor: pointer;
    }
}

.sinossiLunga{
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 10px;
    width: 150%;
    img{
        width: 100%;
        height: auto;
        cursor: pointer;
    }
}

.sinossiLunga-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1100px;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    padding: 100px;
    position: absolute;
    .sinossiLunga {
        overflow-y: auto;
        max-height: 80vh;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: rgb(50, 50, 50);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(100, 100, 100);
            border-radius: 5px;
            
            &:hover {
                background: red;
            }
        }
        z-index: 2;
        background-color: rgb(36, 36, 36);
        color: white;
        border-radius: 10px;
        min-width: 0px;
        width: 70%;
        margin-top: 1%;
        position: relative;
        left: 13%;
        padding-bottom: 10px;
        video {
            width: 100%;
            min-height: 200px;
            border: none;
            cursor: auto;
        }
        button.close-button{
            border: 1px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 4%;
            right: 0.5%;
            font-size: 1.5em;
            cursor: pointer;
            border-radius: 50%;
            background-color: black;
            color: white;
            &:hover{
                background-color: red;
            }
        }
        button.watch-button{
            font-size: 1.5em;
            cursor: pointer;
            border-radius: 10px;
            background-color: red;
            padding: 10px;
            display: block;
            margin: 30px auto;
            font-weight: bold;
            &:hover {
                background-color: rgb(154, 0, 0);
                color: white;
            }
        }
    }
    
}


footer {
    width: 100%;
    position: relative;
    color: white;
    margin-top: 50px;
    
    #social-media {
        list-style: none;
        display: flex;
        justify-content: center;
        line-height: 50px;
        
        li {
            display: flex;
            justify-content: center;
            width: 50px;
            min-height: 50px;
            border-radius: 50%;
            font-size: 1.7em;
            margin: 20px 20px;
            cursor: pointer;
        }
        
        li:nth-child(1) {
            &:hover {
                background-color: #2c5fcd;
            }
            
            &:before {
                font-family: social;
                content: "\0061";
            }
        }
        
        li:nth-child(2) {
            &:hover {
                background-color: lightblue;
            }
            
            &:before {
                font-family: social;
                content: "\0062";
            }
        }
        
        li:nth-child(3) {
            &:hover {
                background-color: rgb(247, 52, 52);
            }
            
            &:before {
                font-family: social;
                content: "\0063";
            }
        }
        
        li:nth-child(4) {
            &:hover {
                background-color: tan;
            }
            
            &:before {
                font-family: social;
                content: "\0064";
            }
        }
    }
    
    ul:nth-child(2) {
        display: flex;
        justify-content: space-around;
        list-style: none;
        
        li {
            padding: 10px;
            margin: 0 20px;
            cursor: pointer;
            font-size: 1vw;
            color: white;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    p {
        text-align: center;
        font-size: 1vw;
        padding: 20px;
    }
}
