
.icon-facebook:before { content: '\61'; } /* 'a' */
.icon-twitter:before { content: '\62'; } /* 'b' */
.icon-youtube:before { content: '\63'; } /* 'c' */
.icon-instagram:before { content: '\64'; } /* 'd' */
